 .modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
  }
  
  .modal-content {
    position: relative;
    background-color: white;
    margin: 10% auto;
    padding: 20px;
    width: 300px;
    border-radius: 10px;
    text-align: center;
  }
  
  .modal-content h2 {
    margin: 0 0 15px;
  }
  
  .modal-content p {
    margin: 0 0 20px;
  }
  
  .wallet-button {
    background-color: #f6851b;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
  }
  
  .wallet-button:hover {
    background-color: #e2761b;
  }
  
  .close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 18px;
    cursor: pointer;
  }

  #loginModal{
    z-index: 10000;
    background: transparent;
    font-family: "Euclid Circular B", Roboto, Helvetica, Arial, sans-serif;
  }

  #loginModal .modal-content{
    width:357px; 
    height:600px;
    padding: 0px;
    margin: 0px;
    border-radius: 0px;
    position: fixed;
    right: 0px;
    letter-spacing: 0.7px;
    font-size: 12px;
  }

  .metamask-loading{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
  }

  .metamask-pending{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 110px;
  }

  .metamask-spinner{
    width: 30px;
    margin-top: 20px;
  }

  .metamask-content{
    display: none;
    color: rgb(36, 39, 42);
  }

  .metamask-header{
    height: 70px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    box-shadow: 0px -17px 22px 0px black;
  }
  
  .metamask-net{
    width: 170px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background: #f2f4f6;
    border-radius: 50px;
    height: 32px;
  }
  
  .metamask-net:hover{
    cursor: pointer;
  }
  
  .metamask-eth{
    width: 14px;
    border-radius: 50%;
  }
  
  .metamask-arrow-down{
    width: 12px;
  }
  
  .metamask-netname{
    line-height: 0px;
  }
  
  .metamask-icon{
    margin-right: 5px;
  }
  
  .metamask-body{
    text-align: center;
  }

  #metamask-3d{
    margin-top: 35px;
  }

  .metamask-welcome-container{
    
  }
  
  .metamask-welcome{
    font-size: 26px;
    font-weight: bold;
    color: #535a61;
  }
  
  .metamask-await{
    font-size: 16px;
  }

  #metamask-password{
    margin-top: 55px;
    border: none;
    border-bottom: 1px solid;
    width: 305px;
    font-size: 16px;
  }

  #metamask-password::selection{
    background-color: #366ab9;
  }
  
  #metamask-password.invalid, #metamask-password.invalid:focus{
    border-bottom: 2px solid #f44336;
  }

  #metamask-password:focus{
    outline: none; /* Removes the default focus outline */
    border: none;  /* Removes the border */
    border-bottom: 2px solid #3f7bd4;
  }

  /* Container styling for positioning */
  .input-container {
    position: relative;
  }

  /* Input styling */

  .animated-input:focus {
    border-color: #007bff; /* Change border color when focused */
  }

  /* Label styling */
  .floating-label {
    position: absolute;
    top: 80%;
    left: 26px;
    transform: translateY(-50%);
    font-size: 16px;
    color: #aaa;
    pointer-events: none;
    transition: all 0.3s ease; /* Smooth animation */
  }

  /* When input is focused or has text */
  .animated-input:focus + .floating-label,
  .animated-input:not(:placeholder-shown) + .floating-label {
    top: 60%;
    left: 26px;
    font-size: 12px;
  }

  .metamask-unlock{
    margin-top: 27px;
    border: 1px solid #333;
    width: 305px;
    height: 48px;
    background: #0376c9;
    color: white;
    border-radius: 50px;
    font-size: 14px;
  }

  .metamask-unlock:disabled{
    margin-top: 27px;
    border: 1px solid #999;
    width: 305px;
    height: 48px;
    background: #80b9e3;
    color: white;
    border-radius: 50px;
    font-size: 14px;
  }

  .metamask-unlock:active{
    border: 1px solid #999;
  }

  body button.metamask-unlock:active:not(:disabled){
    background-color: #0376c9 !important;
    background-image: linear-gradient(114deg, #0376c9 0%, #0376c9 100%) !important;
  }

  .metamask-pf{
    margin-top: 26px;
  }
  .metamask-forgot{
    font-size: 11px;
    font-weight: bold;
    color: #0376c9;
  }
  .metamask-help{
    margin-top: 38px;
  }
  .metamask-support{
    font-weight: light;
    color: #0376c9;
  }
  .mm-loading-overlay{
    position:absolute;
    width: 100%;
    height: 100%;
    background: rgba(240, 240, 240, 0.5);
    z-index: 1;
  }
  .mm-loading{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 60px;
  }
  #incorrect-password{
    color: #f44336;
    text-align: left;
    padding-left: 25px;
    font-size: 12px;
  }
  .hidden{
    display: none;
  }